@import 'nullstyle.scss';

html {
   scroll-behavior: smooth;
 }
 
 html,
 body{
    font-family: 'Source Sans Pro', sans-serif;
   padding: 0 !important;
    min-height: 100%;
 }
 
 .container{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
 }
 
 .title{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
 }
 
 // /commons