.block_form{
	padding: 20px;
	width: 100%;
}

.labels_container{
	display: flex;
	width: 100%;
	justify-content: center;
}


//стили кнопки
.tab_button{
		transition: ease .5s all;
		margin: 30px auto 10px auto;
		border: none;
		width: 60%;
		background: #298cad;
		color:white;
		font-size: 18px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		line-height: 48px;

		&:hover{
			transition: ease .5s all;
			background: rgb(35, 78, 158);
		}
}

.tab_link{
	transition: .5s ease;
	margin-top: 40px;
	display: block;
	font-size: 12px;
	text-align: center;
	color:#000;

	&:hover{
		color: cornflowerblue;
	}
}


.inputBox{
	margin-top: 20px;
	position: relative;
	display: flex;
	height: 70px;
	width: 100%;
	justify-content: center;
}




//checkbox

 .recover{
	width: 300px;
	margin: 0 auto;

	margin-top: 15px;
	font-size: 12px;
} 

label[for="ckbox"]{
	text-align: center;
	padding: 0;
	font-size: 16px;
	cursor: pointer;
	width: 300px;
	display: block;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		border: 2px solid #c4c9c9;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
		border-radius: 3px;
		transition: .2s;
	}

	a{
			transition: .5s ease;
			color: #000;

			&:hover{
				transition: .5s ease;
				color: cornflowerblue;
			}
		}
}




@media (max-width: 450px) {

	.recover{
		font-size: 3px;
		width: 100%;
		text-align: justify;
	}

	.block_form{
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-direction: column;

		.tab{
			text-align: center;
			width: 100%;
			padding: 0;
		}

		.tab_form{
			padding: 0px 20px 20px 20px;
		}

		.tab_labelText{
			width: 100%;
			font-size: 16px;
		}

		.labels_container{
			display: flex;
			width: 100%;
			align-items: center;
			flex-direction: column;
		}





	}

}