
.main_content{
	overflow: hidden;

	.content__countries{
		display: flex;
		justify-content: space-between;
	}


   &__container{
      margin: 0 auto;
      max-width: 1280px;
      padding: 0 20px;
   }

	&__text{
		font-size: calc(15px + 7 * ((100vw - 320px) / (1280 - 320)));
		margin: 0 auto;
		max-width:800px;
		height: 100px;
		padding: 30px 0 40px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__subtitle{
		text-align: right;
	}

	&__buttPerpose{
		transition: ease .5s all;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #339999;
		width: 200px;
		height: 50px;
		border-radius: 10px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

		&:hover{
			background-color: aqua;
			transition: ease .5s all;
		}

		a{
			padding: 20px 33px;
			color: white;
			
		}
	}

	.block_img{
		flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	// бэкграунд затемняет картинку
	background-color: black;
	img{
		z-index: -2;
		width: 100%;
		height: 100%;
		transition: .5s;
	}
	&:hover{
		.content__text{
			transition: .5s ease;
			opacity: 1;
		}
	}
	}


	.content__text-subtitle{
		font-size: calc(15px + 5 * ((100vw - 320px) / (1280 - 320)));
		padding: 20px 20px 0 20px;

	}

	&__countries{
		margin-bottom: 40px;
		display: flex;
	}

	.img__limiter{
		width: 100%;
		overflow: hidden;
	}
}

@media(max-width: 1000px){

	.main_content__text{
		overflow: auto;
		padding: 0;
		height: 100px !important;
	}

	.main_content__text_title{
		padding: 20px 20px  0px!important;
	}

	.main_content__text_subtitle{
		padding:0 20px !important;
	}
}

@media (max-width: 768px) {
	.content__countries{
		flex-direction:column;
	}

	.main_content__text{
		padding: 0 20px;
		flex-direction:column;
		height: 200px !important;
		margin-bottom: 40px;
	}


	.main_content__buttPerpose{
		margin: 0 0 20px 0;
	}
}

@media (max-width: 660px) {
	.main_content__subtitle{
		padding-bottom: 20px !important;
	}

	.main_content__text_subtitle{
	overflow: scroll;
	text-align: left;
	padding: 5px 20px 40px 20px !important;
	margin-bottom: 40px !important;
	}
}

@media (max-width: 400px) {
	.countrieDesk{
		font-size: 12px;
		line-height: 20px;
		bottom: 0;
	}
	
	.main_content__text-title{
		padding: 5px 20px  0px!important;
	}
	
	.main_content__subtitle{
		text-align: center;
	}
}

@media (max-width: 350px) {

	.main_content__text_subtitle{
		overflow: scroll;
		text-align: left;
		padding: 5px 20px 50px 20px !important;
		margin-bottom: 50px !important;
	} 
}


//Images

/* SCSS Миксин для шрифта */
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.img__wrapper{
   margin: 20px;
}


	
   .block_text{

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;

		.content__text{
			position: relative;
			flex-direction:column;
			max-width: 500px;
			display: flex;
			text-align: center;
			opacity: 0;
			color: white;
			font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));

		}
	}


.content__text_title{
	font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
	 margin: 10px 0; 
}

.content__text_subtitle{
	font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
	text-align: justify;
	padding: 0 20px;
}

.countrieDesk{
	transition: .5s ease;
	display: block;
	opacity: 0;
	position: absolute;
	bottom: 10px;
	right: 0;
	border: none;
	width: 250px;
	background: #298cad;
	color:white;
	font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
	text-transform: uppercase;
	display: block;
	text-align: center;
	line-height: 48px;

		a{
			color:white;
		}
}


.img__wrapper:hover  .block_img img{
	transform: scale(1.2);
	filter:blur(1px);
	opacity: .5;
} 




.content__title{
	font-family: 'Caveat', cursive;
	font-size: calc(40px + 15 * ((100vw - 320px) / (1280 - 320)));
	transition: .5s ease;
	position: absolute;
	top: 20px;
	color:white;
	left: 10%;
	opacity: 1;
}

.img__wrapper:hover .content__title{
	transition: .5s ease;
	opacity: 0;	
}

.img__wrapper:hover .countrieDesk{
	transition: .5s ease;
	opacity: 1;
}

.wrapper_img{
	margin: 20px;
}


@media(max-width: 1000px){
	.countrieDesk{
		bottom: 5px;
		line-height: 30px;
	}
}

@media (max-width: 768px) {
	.block_imgOther{
		width: 200% !important;
		bottom: 20px;
	
		.block_text{
			overflow-y: scroll;
			width: 50%;
			text-align: left;
		}

		.countrieDeskOther {
			left: 14%;
	  }

	  .img__limiter .main_content__text{
		  height: 100%;
	  }
	}

	.content__text_title{
		margin: 10px 0;
	}
}


@media(max-width:400px){
	.countrieDesk{
		font-size: 12px;
		line-height: 20px;
		bottom: 0;
	}
}