.input__box-order-ticket{
	margin-top: 20px;
	position: relative;
	display: flex;
	height: 70px;
	width: 200px;
	justify-content: center;
}

.focus-for-order .label-order-ticket{
	color: #000;
	transform: translateY(-30px);
	font-size: 14px;
	
}
.input-order-ticket{
	z-index: 5;
   display: block;
   width: 100%;
   position: relative;
   height: 50px;
   background-color: rgba(142, 255, 242 , 0); 
   font-size: 16px;
   border: none;
   outline: none;
   border-bottom: 1px solid cornflowerblue;
   padding: 12px 14px;
   box-sizing: border-box;
   margin-bottom: 22px;
   color: cornflowerblue;
   outline: none;
}

.label-order-ticket{
   z-index: 4;
	color: cornflowerblue;
	transition: .3s;
	position: absolute;
	line-height: 50px;
	font-size: 18px;
	left: 0;
}