.header{
	margin: 0 0 100px 0;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content: center;

	&__text{
		color:white;
		right: 15%;
		position: absolute;
		font-size: calc(16px + 7 * ((100vw - 320px) / (1280 - 320)));
	}

	&__squere{
		right: 10%;
		position: absolute;
		height: 300px;
		width: 400px;

	}
}

.wave{	
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
	height: 150px;
	
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.fonPhone{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../../img/fonforphones.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

@media(max-width: 1000px){

	.header__text{
		width: 200px;
		top: 47%;
		left: 50%;
		transform:translate(-50%, -50%);
	}

	.header__squere{
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
	}

}

@media (max-width: 768px) {
	.header{
		margin-bottom: 60px;
	}
}

@media (max-width: 400px) {
	.header__squere{
		height: 200px !important;
		width: 250px !important;
	}
}

@media (max-width: 300px) {
	.header__squere{
		height: 170px !important;
		width: 220px !important;
	}
	
}